
/* RED - #E73F3F 
BLUE - #3B4DED
YELLOW - #EEC534
DBLU - #032682
LYELLOW - #DDA84A

*/

:root {
  --duty-blue: #1f009B;
  --duty-white: #f0eee8;
}

  [hidden] {
    display: none !important;
  }

body{
    background: var(--duty-white);
    /* height: 100vh; */
    font-size: 16px;
    font-weight: 500;
    font-family: forma-djr-text, sans-serif; 
    -moz-font-feature-settings: "salt";
    -webkit-font-feature-settings: "salt";
    font-feature-settings: "salt";
    line-height: 1.2;
    /* padding: 1em 2em; */
}

canvas {
  outline: none; 
  border: none; 
}

/* canvas.style{
  width: calc(100% - 4em);
} */

/* #container{
  width: 500px;
  height: 100%;
} */

/* canvas {
  background-color: red;
  height: 100%;
  display: block;
} */

p {
  margin-top: 1em;
}

a {
  font-size: 1em;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

a{
  color: var(--duty-blue);
  -webkit-transition: all 0.3s ease-in-out; 
  -moz-transition: all 0.3s ease-in-out; 
  -ms-transition: all 0.3s ease-in-out; 
  -o-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
}

a:hover, #button:hover{
  border-bottom: 2px solid var(--duty-blue);
  cursor: pointer;
  -webkit-transition: border-bottom 0.3s ease-in-out; 
  -moz-transition: border-bottom 0.3s ease-in-out; 
  -ms-transition: border-bottom 0.3s ease-in-out; 
  -o-transition: border-bottom 0.3s ease-in-out; 
  transition: border-bottom 0.3s ease-in-out; 
}

  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* padding: 1em 2em; */
    position: fixed;
    width: 100%;
    padding: 1em;
    color: var(--duty-blue);
    z-index: 1;
  }
  
  i {
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    font-size: calc(1em * 1.2);
  }

  #logo{
    width: 10em;
    /* height: auto;
    margin-top: 0.5em; */
  }

  #logo svg{
    width: 100%;
  }

#logosvg{
    fill: var(--duty-blue);
    -webkit-transition: all 1s ease-in-out; 
    -moz-transition: all 1s ease-in-out; 
    -ms-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 
    transition: all 1s ease-in-out; 
  }

  #logo a:hover{
    border-bottom: transparent;
  }
  
  .info{
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    /* background: rgba(241, 238, 180, 0.3); */
    /* border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
    box-shadow: 5px 5px 50px black; */
    
  }

  #links{
    display: flex;
    justify-content: space-between;
    width: 20%;
  }

  .about{
    background-color: var(--duty-blue);
    color: var(--duty-white);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin-top: -100vh;
    mix-blend-mode: multiply;
    backdrop-filter: blur(2px);
    -webkit-transition: all 1s ease-in-out; 
    -moz-transition: all 1s ease-in-out; 
    -ms-transition: all 1s ease-in-out; 
    -o-transition: all 1s ease-in-out; 
    transition: all 1s ease-in-out; 
    
    /* display: none; */

    /* transition: opacity 2s; */

   
  }

 .text{
    width: 35vw;
    padding: 2em;
    margin-top: 2em;
    float: right;
    visibility: hidden;
    color: var(--duty-white);
    -webkit-transition: visibility 5s ease-in-out; 
    -moz-transition: visibility 5s ease-in-out; 
    -ms-transition: visibility 5s ease-in-out; 
    -o-transition: visibility 5s ease-in-out; 
    transition: visibility 5s ease-in-out; 
  }
  

  .open{
    margin-top: 0;

  }

  .text-open{
    visibility: visible;
  }

.links-open {
  color: var(--duty-white);
  }

  .logo-open{
    fill: var(--duty-white)!important;
  }

  /* canvas{
 /* filter: blur(1px); */
    /* opacity: 0.5;
  } */

  @media only screen and (max-width: 980px) {


.open{
    height: 100vh;
}
    /* #logo{
        max-width: 30vw;

    } */

    .text{
        width: 90vw;
        float: none;
    }


  
  }