/* GLOBAL STYLES */
@font-face {
  font-family: "lyon-text";
  src: url(fonts/lyon-text-regular-no2.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "lyon-text";
  src: url(fonts/lyon-text-regular-no2-italic.otf);
  font-style: italic;
  font-weight: 400;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  --duty-bg: #243439;
  --duty-text: #BBBBBB;
}

::selection {
  background: var(--duty-bg);
}

::-moz-selection {
  background: var(--duty-bg);
}

[hidden] {
  display: none !important;
}

html {
  font-size: 16px;
  height: 100%;
}

html.has-scroll-smooth {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body {
  background: var(--duty-bg);
  color: var(--duty-text);
  font-weight: 700;
  font-family: lyon-text, serif;
  line-height: 1.2;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum";
  -webkit-font-feature-settings: "lnum";
  font-feature-settings: "lnum";
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";

  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}

p {
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: -0.03em;
  margin-bottom: 1.5rem;
}


h2 {
  font-family: lyon-text;
  font-style: normal;
  font-weight: 400;
  min-width: 35vw;
  max-width: 45vw;
  font-size: 2rem;
  text-align: center;
  line-height: 120%;
  letter-spacing: -0.03em;
}


h3 {
  font-family: 'lyon-text', serif;
  font-size: 3rem;
  letter-spacing: -0.03em;
  margin-bottom: 3rem;
}

h4,
nav a {
  font-family: forma-djr-text, sans-serif;
  font-size: 1.5rem;
  letter-spacing: -0.03em;
  font-weight: 600;
}

a {
  font-size: 1em;
  text-decoration: none;
  /* border-bottom: 2px solid transparent; */
  color: var(--duty-text);
}


/* NAV */

nav {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 1.5rem 4rem;
  color: var(--duty-text);
  z-index: 9999999999;

  opacity: 0;
}

nav a {
  font-size: 1.5em;
  font-style: normal;
  letter-spacing: -0.03em;
  line-height: 1;
}

section:not(#contact) {
  border-bottom: 1px solid var(--duty-text);
}

section {
  width: 100%;
  height: auto;
  padding: 4rem;
  opacity: 0;
}

#tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
  min-height: 100vh;
}

#bold {
  font-family: forma-djr-display, sans-serif;
  font-weight: 800;
  font-size: 10vw;
  text-transform: uppercase;
  text-align: center;
  color: var(--duty-text);
  line-height: 80%;
  max-width: 90vw;
}

#contact {
  color: var(--duty-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: forma-djr-display, sans-serif;
  background-color: var(--duty-bg);
  z-index: 8;
}

#tolb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;

  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  z-index: 5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


button {
  max-width: 90vw;
  background: none;
  border: none;
  word-break: break-all;
  text-align: center;
  color: var(--duty-text);
  align-self: center;
}

button p {
  margin-top: 1rem;
  text-transform: none;
  font-family: forma-djr-text, sans-serif;
  font-weight: 600;
}

.link {
  font-family: forma-djr-display, sans-serif;
  font-weight: 800;
  font-size: 7vw;
  line-height: 80%;
  text-transform: uppercase;
  text-align: center;
}

#content-links {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
}

#email,
#insta {
  position: relative;
  display: inline-block;
  padding: 10px;
}

#email::before,
#insta::before {
  position: absolute;
  padding: 0.4rem 2rem 0.6rem 2rem;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-100%);

  background-color: var(--duty-bg);
  border: 1px solid var(--duty-text);
  border-radius: 100px;
  opacity: 0;
  /* transition: opacity 0.2s ease-in-out; */

  font-size: 1.5rem;
  line-height: 1;
  text-transform: none;
}

#email::before {
  content: "Click to Copy";
}

#insta::before {
  content: "Follow Us";
  pointer-events: none;
}

#email.copied::before {
  content: "Copied!";
}

#email:hover::before,
#insta:hover::before {
  opacity: 1;
}

#email:hover {
  cursor: pointer;
}

/* ABOUT SECTION */
#about-text {
  display: flex;
  flex-direction: column;
}

#about-text p {
  width: calc((100% - (1.5rem * 2)) / 3 * 2 + 1.5rem);
  align-self: flex-end;
}

/* IDEOLOGY SECTION */

#about {
  z-index: 6;
}

#ideology {
  z-index: 7;
}

.ideology-wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.ideology-wrapper>* {
  flex: 1 1 0px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {

  h1#bold {
    font-size: 13vw;
  }

  h2 {
    min-width: 100%;
    max-width: 100%;
  }

}

@media only screen and (max-width: 600px) {

  html {
    font-size: 12px;
  }

  section {
    width: 100%;
    padding: 2rem;
  }

  h1#bold {
    font-size: 14vw;
  }

  h2 {
    max-width: 100vw;
  }

  #about-text p {
    align-self: flex-start;
    width: 100%;
  }


  .ideology-wrapper {
    flex-direction: column;
  }

  h4 {
    margin-bottom: 3rem;
  }


  #email::before,
  #insta::before {
    width: 50%;
    padding: 0.4rem 1rem 0.6rem 1rem;
  }

}