:root {
  --duty-blue: #1f009B;
  --duty-white: #f0eee8;
}

  [hidden] {
    display: none !important;
  }

body{
    background: var(--duty-white);
    font-size: 16px;
    font-weight: 500;
    font-family: forma-djr-text, sans-serif; 
    -moz-font-feature-settings: "salt";
    -webkit-font-feature-settings: "salt";
    font-feature-settings: "salt";
    line-height: 1.2;
}

canvas {
  outline: none; 
  border: none; 
}

p {
  margin-top: 1em;
}

a {
  font-size: 1em;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: var(--duty-blue);
  -webkit-transition: all 0.3s ease-in-out; 
  -moz-transition: all 0.3s ease-in-out; 
  -ms-transition: all 0.3s ease-in-out; 
  -o-transition: all 0.3s ease-in-out; 
  transition: all 0.3s ease-in-out; 
}

a:hover, #info:hover{
  border-bottom: 2px solid var(--duty-blue);
  cursor: pointer;
  -webkit-transition: border-bottom 0.3s ease-in-out; 
  -moz-transition: border-bottom 0.3s ease-in-out; 
  -ms-transition: border-bottom 0.3s ease-in-out; 
  -o-transition: border-bottom 0.3s ease-in-out; 
  transition: border-bottom 0.3s ease-in-out; 
}

span.ext-link {
  transform: rotate(-45deg);
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
}

  header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 1em 1.5em;
    color: var(--duty-blue);
    z-index: 1;
  }
  
  i {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: 600;
    font-size: calc(1em * 1.2);
  }

  #logo{
    width: 10em;
  }

  #logo svg{
    width: 100%;
  }

#logosvg{
    fill: var(--duty-blue);
    -webkit-transition: all 0.7s ease-in-out; 
    -moz-transition: all 0.7s ease-in-out; 
    -ms-transition: all 0.7s ease-in-out; 
    -o-transition: all 0.7s ease-in-out; 
    transition: all 0.7s ease-in-out; 
  }

  #logo a{
    border-bottom: none;
  }

  #logo a:hover{
    border-bottom: none;
  }
  
  .info{
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%; 
  }

  #links{
    display: flex;
    justify-content: space-between;
  }

  #links li{
    margin-left: 1em;
  }

  .about{
    background-color: var(--duty-blue);
    color: var(--duty-white);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1em 1.5em;
    margin-top: -100vh;
    mix-blend-mode: multiply;
    backdrop-filter: blur(2px);
    -webkit-transition: all 0.7s ease-in-out; 
    -moz-transition: all 0.7s ease-in-out; 
    -ms-transition: all 0.7s ease-in-out; 
    -o-transition: all 0.7s ease-in-out; 
    transition: all 0.7s ease-in-out; 
  }

 .text{
    position: relative;
    width: 400px;
    left: 0;
    margin-top: 4em;
    color: var(--duty-white);
  }

  .text a{
    color: var(--duty-white);
  }

  .text a:hover {
    border-bottom-color: var(--duty-white);
  }
  
  #contact{
    margin-top: 1em;
  }

  .open{
    margin-top: 0;

  }

.links-open {
  color: var(--duty-white);
  }

  .logo-open{
    fill: var(--duty-white)!important;
  }

  @media only screen and (max-width: 600px) {

    body{
      font-size: 14px;
    }

    #logo{
      width: 8em;
    }

    .text{
      width: calc(100vw - 3em);
    }
  }

